<div class="container">
  <div class="col py-3 ms-3">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Описание</th>
        <th scope="col">Статус</th>
        <th scope="col">Заказчик</th>
        <th scope="col">Товар</th>
        <th scope="col">Услуга</th>
      </tr>
      </thead>
      <tbody>
      {{#each order}}
        {{#with this as | item |}}
          <tr>
            <th scope="row"><a href="/admin/master/order/{{item.id}}">{{item.id}}</a></th>
            <td>{{item.description}}</td>
            <td>{{item.status}}</td>
            <td>{{item.user.email}}</td>
            <td>{{item.ware.item}}</td>
            <td>{{item.service.name}}</td>
          </tr>
        {{/with}}
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
