<div class="container">
  <div class="mt-5 mx-3">
    <p>Пользователь: {{order.user.email}}</p>
    <p>Товар/услуга: {{order.ware.item}}{{order.service.name}}</p>
    <p>Описание: {{order.description}}</p>
    <form method="post" class="from-container" action="/order/edit/{{order.id}}/admin">
      <div class="form-group mt-3">
        <label for="statusOrder">Статус: </label>
        <label for="statusOrder">Статус: </label>
        <select class="form-select" name="status">
          <option value="В обработке" selected>В обработке</option>
          <option value="Обработан">Обработан</option>
          <option value="Исполняется">Исполняется</option>
          <option value="Выполнен">Выполнен</option>
          <option value="Доставка">Доставка</option>
        </select>      </div>
      <button type="submit" class="btn btn-primary mt-3 mb-3 me-3">Редактировать</button>
      <a href="/admin"><button type="button" class="btn btn-primary mt-3 mb-3 me-3">Отмена</button></a>
    </form>

  </div>
</div>