<div class="container  mt-5">
  <p><a class="a-for-services" href="/services">Назад</a></p>
  <input type="hidden" value="{{service.id}}" id="serviceID">
  <h3>{{service.name}}</h3>
  <p id="annotation" style="font-weight: 700">В данную услуг входит "Полное обслуживание вашего инструмента"</p>
  <p>Описание: {{service.description}}</p>
  <p>Цена: {{service.price}}</p>
  <form method="post" class="mb-3" action="/services/order/gateway/{{service.id}}">
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Пожелания:</label>
      <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    {{#if role}}
      <div></div>
    {{else}}
      <button type="submit" class="btn btn-primary">Записаться</button>
    {{/if}}
  </form>
</div>